* {
    margin: 0;
    padding: 0;
    outline: none;
}

body,
html {
    width: 100%;
    height: 100%;
}

/* ШАПКА */

header {
    width: 100%;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);
}

h1 {
    font-family: "Roboto";
    font-size: 36px;
    line-height: 160%;
    text-transform: uppercase;
}

button:hover {
    box-shadow: -3px 0px 40px rgba(0, 0, 0, 0.1), 0px 0px 10px rgba(164, 164, 164, 0.03);
    border-radius: 5px;
    cursor: pointer;
}

.header__row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo__img {
    padding-left: 20px;
}

.fh {
    margin: 0 0 0 50px;
    width: 1px;
    height: 80px;
    top: calc(50% - 80px / 2);
    background: #ebebf1;
}

.search {
    display: inline-flex;
    margin-left: 70px;
    padding: 0 10px;
    width: 835px;
    height: 40px;
    border: 1px solid #ebebf1;
    border-radius: 5px;
}

.search__icon {
    width: 16px;
    height: 16px;
    margin: 12px 10px 12px 3px;
    order: -1;
}

.search::placeholder {
    color: #bbc4d6;
}

.search__field {
    width: 835px;
    border: 0;
}

.profile__name {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #768298;
    margin: 0 10px 0 19px;
}
.profile__account {
    margin-right: 100px;
}

.head__text {
    margin: 70px 0 30px 100px;
}

/* ITEMS */

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 30px 30px 30px 100px;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 30%;
    max-width: 287.5px;
    height: 120px;
    background: #ffffff;
    border: 1px solid #ebebf1;
    border-radius: 5px;
    box-sizing: border-box;
}

@media (min-width: 320px) {
    .container {
        margin: 30px;
    }

    .item {
        flex-basis: calc((100% - 10px) / 2);
    }
    .head__text {
        font-size: 28px;
        margin: 30px;
    }
}

@media (max-width: 425px) {
    .header__row {
        margin: 20px 0;
        justify-content: left;
    }
    .logo__img {
        padding-bottom: 15px;
    }
    .profile__name {
        display: none;
    }
    .profile__img {
        display: none;
    }
    .search {
        display: none;
    }
    .fh {
        display: none;
    }
    .profile__icon {
        margin-left: 174px;
        padding-bottom: 15px;
    }
}

@media (min-width: 768px) {
    .container {
        margin: 30px;
    }
    .item {
        flex-basis: calc((100% - 20px) / 3);
    }
    .head__text {
        font-size: 28px;
    }
    .profile__icon {
        display: none;
    }
    
}

@media (min-width: 1240px) {
    .item {
        flex-basis: calc((100% - 30px) / 4);
    }
}

@media (max-width: 1440px) {
    .search {
        width: 344px;
        margin: 0 30px;
    }
    .fh {
        width: 1px;
        margin: 0 10px;
    }
    .profile__account {
        margin: 0 10px;
    }
}